$no-slot-color: #c10f18;
$few-slot-color: #d87811;
$all-slot-color: #b2d198;
$border-color: #000000;
$background-color: #fff;
$text-shadow-color: rgb(40, 43, 201) 0px -1px;
$box-shadow-color: rgba(0, 0, 0, 0.25);
$background-color-from: #5ba6e2f8;
$background-color-to: #4fbce7;
$back-color: rgb(54, 158, 218);
$gray-color: #8c8c8c;