$zero: 0;
$border: 1px;
$box: 2px;
$base-size: 15px;
$base-margin: 10%;
$base-padding :5px;
$base-width: 10%;
$base-height: 10%;
$base-radius: 5px;
$base-font-size: 14px;
$height: 50px;
$margin: 15px;
$padding: 20px;
$width: 50px;